body {
    background: #f2f2f2;
}

.contenedor-exposiciones {
    width: 95%;
    max-width: 900px;
    margin: 90px auto;    
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.expo {
    background: #ffffff;
    padding: 25px;
    border-radius: 18px;

    border: 2px solid #e5e5e5;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);

    text-align: center;
    transition: 0.3s;
    width: 100%;
}

.expo:hover {
    box-shadow: 0 10px 22px rgba(0,0,0,0.18);
    border-color: #bbbbbb;
}

.expo.artista {
    padding-bottom: 30px;
}

.expo.artista img {
    width: 100%;
    height: 250px;         
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    
    margin-bottom: 15px;
    cursor: zoom-in;

    border: 2px solid #e5e5e5; 
}


.expo.artista h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #222;
}

.expo.artista h3 span {
    font-size: 18px;
    color: #666;
}

.btn-more {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
}

.modal-content {
    background: white;
    margin: 80px auto;
    padding: 25px;
    width: 90%;
    max-width: 600px;
    border-radius: 12px;
}

.close-modal {
    float: right;
    font-size: 32px;
    cursor: pointer;
}

