.contenedor-artistas {
    width: 95%;
    max-width: 1100px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 35px;
}

.artista-card {
    background: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.artista-card:hover {
    box-shadow: 0 10px 22px rgba(0,0,0,0.18);
}

.artista-card img {
    width: 100%;
    height: 320px;    
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin-bottom: 15px;
}


.artista-card h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.artista-card span {
    color: #555;
    font-size: 15px;
}

.btn-artista {
    margin-top: 12px;
    padding: 8px 14px;
    background: #000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-artista:hover {
    background: #333;
}

.modal-artista {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
}

.modal-contenido-artista {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 95%;
    max-width: 600px;
    margin: 70px auto;
    max-height: 80vh;
    overflow-y: auto;
}

.cerrar-artista {
    position: absolute;
    top: 25px;
    right: 40px;
    color: white;
    font-size: 38px;
    cursor: pointer;
}
