body {
    background: #f2f2f2;
}

.contenedor-exposiciones {
    width: 95%;
    max-width: 900px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 45px; 
}

.expo {
    background: white;
    padding: 15px;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    text-align: center;
    transition: 0.3s;
    width: 100%;
}

.expo:hover {
    box-shadow: 0 10px 22px rgba(0,0,0,0.18);
}

.expo img {
    width: 100%;
    max-height: 550px;
    object-fit: contain;
    border-radius: 15px;
    margin-bottom: 15px;
    cursor: zoom-in;
}

.expo h2 {
    font-size: 28px;
    margin-bottom: 8px;
}

.expo p {
    font-size: 16px;
    line-height: 1.5;
}

.fecha {
    margin-top: 12px;
    font-weight: bold;
    color: #000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
}

.modal-contenido {
    display: block;
    margin: 60px auto;
    max-width: 90%;
    max-height: 85%;
    border-radius: 10px;
}

.cerrar {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}






