.proposito {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.proposito h2 {
    font-size: 2em;
    color: #222;
    margin-bottom: 15px;
}

.descripcion {
    font-size: 1.1em;
    color: #555;
    max-width: 800px;
    margin: 0 auto 35px;
}

/* Tarjeta horizontal */
.tarjeta-info {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    display: flex;
    align-items: center;
    padding: 25px;
    gap: 25px;
}

.tarjeta-info img {
    width: 240px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.tarjeta-info .texto {
    background: #fff;
    align-items: center;
    padding: 25px;
    gap: 25px;}

.tarjeta-info .texto h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #222;
    align-items: center;
}

.tarjeta-info .texto p {
    color: #444;
    font-size: 1em;
    line-height: 1.5em;
}