body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.map-container {
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
