.galeria-tienda {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px; 
    justify-items: center;
    align-items: center;
    margin-top: 30px;
}
.tienda {
    margin-bottom: 80px; 
}

.producto {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 15px;
    width: 230px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 340px;
    position: relative;
}

.producto img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.producto h3 {
    margin: 5px 0;
    font-size: 1em;
    color: #222;
}

.producto p {
    margin: 4px 0 10px;
    color: #444;
    font-weight: bold;
    font-size: 0.9em;
}

.producto button {
    background-color: #444;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: "Poppins", sans-serif;
    font-size: 0.9em;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

.producto button:hover {
    background-color: #666;
    transform: translateX(-50%) scale(1.05);
}




